<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI-Juniors</title>

        <!-- Open Graph meta tags -->
        <meta property="og:title" content="AI-Juniors">
        <meta property="og:description" content="AI-Juniors integrates technology meaningfully within a classroom setting.">
        <meta property="og:image" content="https://www.ai-juniors.com/AI-Juniors%20Logo%20favicon.png">
        <meta property="og:url" content="https://ai-juniors.com">
        <meta property="og:type" content="website">
    
        <!-- Twitter Card meta tags (optional) -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="AI-Juniors">
        <meta name="twitter:description" content="AI-Juniors integrates technology meaningfully within a classroom setting.">
        <meta name="twitter:image" content="https://www.ai-juniors.com/AI-Juniors%20Logo%20favicon.png">

    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="AI-Juniors Logo favicon.png" type="image/x-icon"> <!-- Favicon link -->
</head>