<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>

<body>
    <%- include('partials/header') %>

    <div class="container-about">
        <h1 class="founder-title">Welcome to AI-Juniors!</h1>
        <div class="founder-pic">
            <img src="Marjon no background.jpg" alt="AI Juniors Founder Picture">
        </div>
        <div class="founder-message">
            <p>As a primary school teacher with multiple years experience in an <strong>Inquiry based learning</strong> environment, I founded <strong>AI-Juniors</strong> to help <strong>children</strong> learn about the <strong>pros and cons of artificial intelligence</strong> in a safe, controlled environment. Our mission is to seamlessly <strong>integrate AI tools into classroom</strong> experiences, making technology both accessible and relevant for young learners.</p>
            <p>The idea came to me when I noticed a lack of <strong>integrated educational technology</strong> tools. I wanted to create something that allows children to explore <strong>AI within the context</strong> of their current studies, making the learning process more meaningful.</p>
            <p>At <strong>AI-Juniors</strong> we believe it's important for all children to experience various technology tools. For this reason we offer our services for free.</p>
            <p>Are you as excited as us? Visit our donate tab and support us to keep this page going.</p>
            <p>Reach out to us at info@reggiohome.com for any questions or support. Let's make <strong>AI learning accessible and meaningful</strong> for every child.</p>
            <p>Warm regards,</p>
            <p>Marjon Hofman</p>                
            <p>Founder AI-Juniors</p>
        </div>
    </div>

    <%- include('partials/footer') %>

    <script src="index.js"></script>
</body>
</html>
