<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>AI Juniors</title>
    <link rel="stylesheet" href="../style.css">
</head>

<body>
    <header>
        <div class="header-content" onclick="redirectToHome()">
            <img src="LogoReggioHome.png" alt="Logo" class="header-logo">

            <div class="header-text">
                <h1>AI Juniors</h1>
                <p>Powered by Reggio Home</p>
            </div>
        </div>
    </header>



    <main>
        <div class="container">
                <h2>Coming soon </h2>
        </div>
 

    </main>

    <footer>
        <p>Founded in the Netherlands, we respect your privacy by not storing your drawings or audio</p>

        <p id="footer-text">© <span id="current-year"></span> AI Juniors</p>
    </footer>


</body>
<script src="index.js"></script>

<script src="https://unpkg.com/recordrtc"></script>




</html>