<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>
<body>
    <%- include('partials/header') %>

    <main>
        <div class="donate-container">
            <h1>Buy AI-Juniors a coffee</h1>
            <p> AI-Juniors is a private initiative which has started out of the interest of using technology in a meaningful way in a classroom setting. We have recurring payments each month to keep this website running. If you are as excited about bringing AI into a classroom in a meaningful, safe and controlled environment, support us by buying us a coffee. We're working together with buymeacoffee.com. Click on the button below to go to our donate page.</p>
            <a href="https://www.buymeacoffee.com/aijuniors" target="_blank">
                <button>Buy Me a Coffee</button>
            </a>
        </div>
    </main>

    <%- include('partials/footer') %>

    <script src="index.js"></script>
</body>
</html>


    