<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <%- include('partials/header') %>

    <main>
        <div class="faq-container">
            <h2>Frequently Asked Questions</h2>
            <div class="faq-item">
                <button class="faq-question">Why doesn't it recognize the correct language when recording?</button>
                <div class="faq-answer">
                    <p>There are various factors why the computer might record the wrong language, including dialects and pronunciation. However, in most cases, it will pick up the correct language if you speak for a longer period. Try to speak in full sentences, instead of using single words.</p>
                </div>
            </div>
            <div class="faq-item">
                <button class="faq-question">Why does it not generate an image after it says it's done thinking?</button>
                <div class="faq-answer">
                    <p>Delete your cookies and try again. If you're still having issues, let us know.</p>
                </div>
            </div>
            <div class="faq-item">
                <button class="faq-question">AI is a paid service, how do you afford this?</button>
                <div class="faq-answer">
                    <p>AI indeed is a paid service. At AI Juniors, we believe it's important for students to learn about AI in a safe and controlled environment. At the moment we're still very small and we pay the subscriptions out of our own pocket. If you would like to help out, feel free to go to the 'donate' page and leave a small (or big) donation.</p>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <p>Founded in the Netherlands, we respect your privacy by not storing your drawings or audio</p>
        <p id="footer-text">© <span id="current-year"></span> AI Juniors</p>
    </footer>

    <script src="index.js"></script>
</body>
</html>
