<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <%- include('partials/header') %>

    <main>
        <div class="faq-container">
            <h2>Frequently Asked Questions</h2>
            <div class="faq-item">
                <button class="faq-question">The app doesn't recognize my language in the recorder function. What should I do?</button>
                <div class="faq-answer">
                    <p>If the app is incorrectly transcribing your recorded message, try the following steps:</p>
                    <p> <b> Use full sentences</b>:Speaking in complete sentences can help the app better recognize and correctly transcribe your language.</p>
                    <p><b>Ensure proper pronunciation</b>: Clear and accurate pronunciation improves the app's ability to understand and transcribe your speech correctly.</p>
                </div>
            </div>
            <div class="faq-item">
                <button class="faq-question">The countdown has finished, but there's still no image. What should I do?</button>
                <div class="faq-answer">
                    <p>If the countdown has ended and you still don't see an image, try the following:</p>
                    <p><b>Delete your cookies</b>: Clearing your browser's cookies can sometimes resolve display issues. After deleting cookies, try reloading the page.</p>
                    <p><b>Contact us</b>: If you continue to experience problems after clearing cookies, please reach out to us for further assistance. We're here to help!</p>
                </div>
            </div>
            <div class="faq-item">
                <button class="faq-question">How can you offer this for free?</button>
                <div class="faq-answer">
                    <p>At AI Juniors, we provide this service for free because we believe in offering students a safe and controlled environment to learn about AI. Currently, we're a small initiative, and we cover the subscription costs ourselves. If you'd like to support our mission, you can visit the 'donate' page and make a contribution. Every donation helps us continue providing this service for free.</p>
                </div>
            </div>
        </div>
    </main>

    <%- include('partials/footer') %>

    <script src="index.js"></script>
</body>
</html>
