<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>

<body>
    <%- include('partials/header') %>



    <main>
            <div class="boxes-container">
                <div class="box">
                    <a href="/inputPic">
                        <img src="/upload.png" alt="AI Juniors upload drawing to generate image">
                    </a>
                </div>
                <div class="box">
                    <a href="/inputAudio">
                        <img src="/microphone.png" alt="AI Juniors record thoughts to generate image">
                    </a>
                </div>
                </div>
                <div class="boxes-container"> <!-- second row-->
                    <div class="text-box">
                        <a href="/inputPic">
                        <h2> Generate image from a drawing</h2>
                        </a>
                    </div>
                    <div class="text-box">
                        <a href="/inputAudio">
                        <h2> Generate image from your thoughts</h2>
                        </a>
                    </div>
            </div>
 

    </main>

    <%- include('partials/footer') %>


</body>
<script src="/index.js"></script>

<script src="https://unpkg.com/recordrtc"></script>




</html>