<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>

<body>
    <%- include('partials/header') %>

    <main>
        <h1>AI-Juniors</h1>
        <h2>Integrate AI within your classroom</h2>
        <div class="boxes-container">
            <div class="box">
                <a href="/image">
                    <img src="/camera.svg" alt="AI Juniors generate image Image">
                </a>
            </div>
            <div class="box">
                <a href="/chat">
                    <img src="/Black_question_mark.png" alt="AI Juniors ask AI a Question mark Image">
                </a>
            </div>
        </div>
        <div class="boxes-container">
            <div class="text-box">
                <a href="/image">
                <h2>Generate image</h2>
                </a>
            </div>
            <div class="text-box">
                <a href="/chat">
                <h2>Ask question</h2>
                </a>
            </div>
        </div>
    </main>

    <%- include('partials/footer') %>

    <script src="/index.js"></script>
    </body>
</html>