<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>


<body>
    <%- include('partials/header') %>

    <main>
        <div class="container">
            <div class="audio-container">
                <button id="startRecord">Start Recording</button>
                <button id="stopRecord" style="display:none">Stop Recording</button>
                <audio id="audioPlayback" controls hidden></audio>
                <button id="uploadRecord" style="display:none">Upload Recording</button>
                <button id="resetRecord" style="display:none">Reset Recording</button>

            </div>
            <div id="loadingAnimationId" style="display: none;">
                We are thinking we are thinking! <span id="countdown">28</span> seconds left.
            </div>
        </div>
    </main>
   <%- include('partials/footer') %>
</body>
<script src="https://unpkg.com/recordrtc"></script>

<script src="index.js"></script>

</html>