<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" , initial-scale=1 />

    <title>AI Juniors</title>
    <link rel="stylesheet" href="../style.css">
</head>


<body>

    <header>
        <div class="header-content" onclick="redirectToHome()">
            <img src="LogoReggioHome.png" alt="Logo" class="header-logo">
            <div class="header-text">
                <h1>AI Juniors</h1>
                <p>Powered by Reggio Home</p>
            </div>
        </div>
    </header>
    <main>
        <div class="homepage-container">


            <div>
                <h2>Free Image Generator </h2>
                <h3>Make Your Children's Ideas Become Real</h3>
            </div>
            <form action="/upload" method="post" enctype="multipart/form-data" id="uploadForm">


                <!-- upload button -->
                <input type="file" id="file" name="picture" accept="image/*">
                <label for="file" class="custom-file-upload button-animate">
                    <img src="/camera.svg" alt="Camera Image"> <br>Choose a File
                </label>
                <!-- generate button -->
                <div id="imagePreview"></div>

                <button class="generate-button" type="submit">Generate</button>

            </form>
            <div id="loadingAnimationId" style="display: none;">
                We are thinking we are thinking! <span id="countdown">28</span> seconds left.
            </div>
        </div>
    </main>
    <footer>
        <p>Founded in the Netherlands, we respect your privacy by not storing your drawings or audio</p>

        <p id="footer-text">© <span id="current-year"></span> Reggio Home - Since 2023 your go-to source for Reggio
            Emilia inspired learning!</p>
    </footer>
</body>

<script src="index.js"></script>

</html>