<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Result</title>
</head>

<body>
    <div class="result-page"></div>
    <h1>Here's your real-life picture, hope you like it!</h1>
    <div class="buttons-result"><a href="/"><button class="buttons-result">Download - doesn't work yet</button></a>
        <a href="/"><button class="buttons-result">Upload Another Image</button></a>
    </div>



    <img src="/testresult.png" alt="Generated Image" style="max-width: 100%;">
    <p>
        blablabla
    </p>
    </div>
</body>

</html>