<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" , initial-scale=1 />

    <title>Drawings Become Real</title>
    <link rel="stylesheet" href="../style.css">
</head>


<body>
    <header>
        <div class="header-content" onclick="redirectToHome()">
            <img src="LogoReggioHome.png" alt="Logo" class="header-logo">

            <div class="header-text">
                <h1>Drawings become real</h1>
                <p>Powered by Reggio Home</p>
            </div>
        </div>
    </header>
    <main>
        <h1>Here's your real-life picture, hope you like it!</h1>
        <div>
            <img src="<%= image_url %>" alt="Generated Image" class="generated-image">

        </div>
        <div class="result-buttons">
            <!-- <a href="<%= image_url %>" download="MyCoolAiPic.jpg"><button>Download</button></a> -->


            <button id="downloadImageButton" download=" MyCoolPic.jpg">Download Image</button>
            <button id="shareImageButton">Share Image</button>



            <a href="/"><button>Create Another Image</button></a>
        </div>
    </main>
    <footer>
        <p>Founded in the Netherlands, we respect your privacy by not storing your drawings or audio</p>

        <p id="footer-text">© <span id="current-year"></span> Reggio Home - Since 2023 your go-to source for Reggio
            Emilia inspired learning!</p>
    </footer>
</body>

<script src="index.js"></script>


</html>