<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" , initial-scale=1 />

    <title>Drawings Become Real</title>
    <link rel="stylesheet" href="../style.css">
</head>


<body>
    <header>
        <span>
            <h1>Drawings Become Real</h1>
        </span><span>Powered by Reggio Home</span>
    </header>
    <!-- <div class="result-page"></div> -->
    <main>
        <h1>Here's your real-life picture, hope you like it!</h1>
        <div>
            <img src="<%= image_url %>" alt="Generated Image" class="generated-image">

        </div>
        <div class="result-buttons">
            <a href="<%= image_url %>" download="DesiredPictureName.jpg"><button>Download</button></a>
            <a href="/"><button>Upload Another Image</button></a>
        </div>
    </main>
    <footer>
        <p>Founded in the Netherlands, we respect your privacy by not storing your pictures</p>

        <p id="footer-text">© <span id="current-year"></span> Reggio Home - Since 2023 your go-to source for Reggio
            Emilia inspired learning!</p>
    </footer>
</body>

</html>