/* General resets and styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header styles */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #FFF2D4;
    padding: 10px 20px;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.header-content {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 60px;
}

.header-logo {
    max-height: 50px;
    margin-right: 20px;
}

header nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
}

header nav ul li {
    margin-left: 20px;
    display: flex;
    align-items: center;
}

header nav ul li a {
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px;
    height: 100%;
    display: flex;
    align-items: center;
}

header nav ul li a:hover {
    background-color: #FFF2D4;
    color: black;
}

header h1 {
    font-size: 24px;
    margin: 0;
    line-height: 1.2;
}

header h3 {
    font-size: 12px;
    margin: 0;
    line-height: 1.2;
}

header p {
    font-size: 16px;
    margin: 0;
}

/* Main content styles */
main {
    padding-bottom: 80px;
    padding-top: 80px;
}

/* General body styles */
body {
    font-family: 'Arial', sans-serif;
    background: url('AI Juniors background.webp') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* FAQ styles */
.faq-container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 0 auto;
    width: auto;
}

.faq-item {
    margin-bottom: 10px;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    max-height: 40px;
}

.faq-question {
    width: 100%;
    text-align: left;
    background: none;
    border: none;
    outline: none;
    font-size: 16px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.878);
    transition: background-color 0.3s;
    color: #000;
    padding: 10px;
    border-radius: 5px;
    display: block; /* Ensure the button is a block element */
    white-space: normal; /* Allow text wrapping */
}

.faq-question h1 {
    font-size: 18px; /* Reduced font size */
    margin: 0;
    white-space: normal; /* Allow text wrapping */
    line-height: 1.4; /* Add some line height for better readability */
}

.faq-question:hover {
    background-color: #f4ce75;
}

.faq-answer {
    padding: 10px;
    border-top: 1px solid #ddd;
    border-radius: 0 0 5px 5px;
    display: block;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

.faq-item.open {
    max-height: 500px;
}

.faq-item.open .faq-answer {
    max-height: 500px;
}



/* Containers and boxes */
.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    margin-left: 25px;
    margin-right: 25px;
    background-color: #fcfeff;
    box-shadow: 5px 20px 16px rgba(0,0,0,0.1);
    border-radius: 15px;
}

.text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 50px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 5px;
    background-color: #fcfeff;
    box-shadow: 5px 20px 16px rgba(0,0,0,0.1);
    border-radius: 15px;
    text-align: center;
    background-color: none;
    margin-top: 10px;
}

.boxes-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.box a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.box img {
    width: 75%;
    height: auto;
    display: block;
}

a {
    color: black;
    text-decoration: none;
}

/* Custom file upload button */
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 4px;
    background-color: #fff;
    margin-bottom: 10px;
    margin-top: 10px;
}

.custom-file-upload:hover {
    background-color: #f8f8f8;
}

input[type="file"] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

input[type="file"] + label {
    max-width: 100%;
    font-size: 16px;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 10px;
}

/* Button styles */
button {
    background: #f4ce75;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
}

button:hover {
    background: #ebedef;
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

/* Footer styles */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #FFF2D4;
    padding: 2px 10px;
    text-align: center;
    z-index: 1000;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.2);
    color: #404040;
    font-size: 12px;
}

@media screen and (min-width: 768px) {
    footer {
        width: 100%;
    }
}

.result-page {
    text-align: center;
}

.buttons-result {
    padding: 10px;
    color: yellow;
}

.thumb {
    max-height: 50vh;
    width: auto;
    max-width: 350px;
    border: 1px solid #000;
    border-radius: 5px;
    margin-top: 10px;
}

#imagePreview {
    display: flex;
    justify-content: center;
    align-items: center;
}

#imagePreview span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.generate-button {
    display: none;
}

.generated-image {
    max-height: 50vh;
    width: auto;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.result-buttons {
    text-align: center;
    margin: 10px;
}

/* Recording styles */
#audioPlayback {
    margin-top: 10px;
    margin: auto;
}

.input-selection-button {
    padding: 10px 20px;
    color: white;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 100px;
    width: 100px;
    margin-left: 20px;
    margin-right: 20px;
}

@media (min-width: 769px) {
    #shareImageButton {
        display: none;
    }
}

/* Donate container styles */
.donate-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 90%;
    margin-top: 20px;
    display: flex;
    flex-direction: column; /* Arrange children in a column */
    align-items: center; /* Center-align all children horizontally */
    text-align: center; /* Center-align the text */
}

/* about page */
.container-about {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 90%;
    margin-top: 600px;
    display: flex;
    flex-direction: column; /* Arrange children in a column */
    align-items: center; /* Center-align all children horizontally */
    text-align: center; /* Center-align the text */
}

.founder-title {
    margin-bottom: 20px; /* Space between title and photos */
}

.founder-pic {
    margin-bottom: 20px; /* Space between photos and message */
}

.founder-pic img {
    max-width: 150px;
    border-radius: 50%;
    margin: 0 10px; /* Space between photos if there are multiple */
}

.founder-message {
    font-size: 1.2em;
    line-height: 1.6;
    color: #333;
    text-align: left; /* Align text to the left */
}

.founder-message h2 {
    text-align: center;
    color: #333;
}

.founder-message p {
    margin-bottom: 30px; /* Increase margin-bottom to add extra space between paragraphs */
}

/* Mobile responsive styles */
@media screen and (max-width: 768px) {
    /* Header adjustments for mobile */
    header {
        padding: 10px 15px;
    }
    
    .header-content {
        height: 50px;
    }
    
    .header-logo {
        max-height: 40px;
        margin-right: 15px;
    }
    
    header nav ul li {
        margin-left: 10px;
    }
    
    header nav ul li a {
        font-size: 16px;
        padding: 8px 10px;
    }
    
    /* Main content adjustments */
    main {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    
    main h1 {
        font-size: 24px;
        padding: 0 20px;
    }
    
    main h2 {
        font-size: 18px;
        padding: 0 20px;
    }
    
    /* Box adjustments for mobile */
    .box {
        width: 200px;
        height: 200px;
        margin: 10px;
    }
    
    .text-box {
        width: 200px;
        height: 50px;
        margin: 10px;
    }
    
    .text-box h2 {
        font-size: 16px;
    }
    
    .boxes-container {
        padding: 0 10px;
    }
}

/* Extra small mobile devices */
@media screen and (max-width: 480px) {
    header nav ul li {
        margin-left: 5px;
    }
    
    header nav ul li a {
        font-size: 14px;
        padding: 6px 8px;
    }
    
    .header-logo {
        max-height: 35px;
        margin-right: 10px;
    }
    
    main h1 {
        font-size: 20px;
    }
    
    main h2 {
        font-size: 16px;
    }
    
    .box {
        width: 150px;
        height: 150px;
        margin: 8px;
    }
    
    .text-box {
        width: 150px;
        height: 45px;
        margin: 8px;
    }
    
    .text-box h2 {
        font-size: 14px;
    }
}
