header {
    position: fixed; /* Fixed position */
    top: 0; /* Align to the top of the page */
    left: 0; /* Align to the left of the page */
    width: 100%; /* Ensure it stretches across the full width */
    background-color: #f8f8f8;
    padding: 10px 20px;
    text-align: left;
    z-index: 1000; /* Ensure it stays on top of other content */
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Optional: adds shadow for depth */

}

header h1 {
    margin: 0;
    color: #333;
    text-align: left;
}

h2{
    text-align:center
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding-top: 60px; /* Adjust this value based on your header's height */
    padding-bottom: 60px; /* Adjust this value based on your footer's height */
}

form {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
    width:350px;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 4px;
    background-color: #fff;
    /* width: 100%; */
    text-align: center;
    margin-bottom:10px;
}

.custom-file-upload:hover {
    background-color: #f8f8f8;
}

input[type="file"] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

input[type="file"] + label {
    max-width: 100%;
    font-size: 16px;
    font-weight: 700;
    text-overflow: ellipsis; 
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 10px;
}

button {
    background: #0056b3;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #004494;
}

footer {
    position: fixed; /* Fixed position */
    bottom: 0; /* Align to the bottom of the page */
    left: 0; /* Align to the left of the page */
    width: 100%; /* Ensure it stretches across the full width */
    background-color: #f8f8f8;
    padding: 10px 20px;
    text-align: center;
    z-index: 1000; /* Ensure it stays on top of other content */
    box-shadow: 0 -2px 5px rgba(0,0,0,0.2); /* Optional: adds shadow for depth */
    color: green;
    font-size:12px;
}

.result-page{
    text-align:center
}

.buttons-result{
    padding: 10px;
    color:yellow;
}

@keyframes gradient-cycle {
    0%, 100% {
      background: linear-gradient(to right, #999999, #eeeeee);
    }
    50% {
      background: linear-gradient(to right, #eeeeee, #999999);
    }
  }
  
  .button-animate {
    animation: gradient-cycle 3s ease infinite;
  }

  .thumb {
    height: 100px; /* You can set the size as you need */
    border: 1px solid #000;
    margin: 10px 5px 0 0;
}
  