header {
    position: fixed; /* Fixed position */
    top: 0; /* Align to the top of the page */
    left: 0; /* Align to the left of the page */
    width: 100%; /* Ensure it stretches across the full width */
    background-color: #f8f8f8;
    padding: 10px 20px;
    text-align: left;
    z-index: 1000; /* Ensure it stays on top of other content */
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Optional: adds shadow for depth */

}

header h1 {
    margin: 0;
    color: #333;
    text-align: left;
}


.header-content {
  display: flex;
  align-items: center; /* Aligns the image and text vertically */
  text-decoration:none;
}

.header-text:hover{
    color:darkgray;
}

.header-text:hover h1 {
    color: darkgray;
}


.header-logo {
  max-height: 50px; /* Or the width you want your logo to be */
  margin-right: 20px; /* Adds some space between the logo and the text */
}

header h1 {
  font-size: 24px; /* Or the size you prefer */
  margin: 0;
  line-height: 1.2; /* Adjusts the spacing between header lines */
}

header p {
  font-size: 16px; /* Or the size you prefer */
  margin: 0;
}



h2{
    text-align:center;
}

h3{
    text-align:center;
    color:gray;
}

/* this avoids the header and footer being fixed over the main */
main{
    padding-bottom: 80px;
    padding-top: 80px;
}

body {
    font-family: 'Arial', sans-serif;
    /* background-color: #f4f4f4; */
    background-color: #fff404;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding-top: 60px; /* Adjust this value based on your header's height */
    padding-bottom: 60px; /* Adjust this value based on your footer's height */
}

form {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    width:350px;
    /* margin:10px 0; */
}

.homepage-container{
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    width:390px;
    text-align:center;
}

.audio-container{
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    width:350px;
    /* margin:10px 0; */
    text-align:center;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 4px;
    background-color: #fff;
    /* width: 100%; */
    text-align: center;
    margin-bottom:10px;
    margin-top:10px;
}

.custom-file-upload:hover {
    background-color: #f8f8f8;
}

input[type="file"] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

input[type="file"] + label {
    max-width: 100%;
    font-size: 16px;
    font-weight: 700;
    text-overflow: ellipsis; 
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 10px;
}

button {
    background: #0056b3;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin:5px;
}

button:hover {
    background: #004494;
}

footer {
    position: fixed; /* Fixed position */
    bottom: 0; /* Align to the bottom of the page */
    left: 0; /* Align to the left of the page */
    width: 100%; /* Ensure it stretches across the full width */
    background-color: #f8f8f8;
    padding: 2px 20px;
    text-align: center;
    z-index: 1000; /* Ensure it stays on top of other content */
    box-shadow: 0 -2px 5px rgba(0,0,0,0.2); /* Optional: adds shadow for depth */
    /* color: green; */
    color: #404040;
    font-size:12px;
}

.result-page{
    text-align:center
}

.buttons-result{
    padding: 10px;
    color:yellow;
}

.thumb {
    /* height: 100px; You can set the size as you need */
    max-height: 50vh;
    width: auto;
    max-width:350px;
    border: 1px solid #000;
    /* margin: 10px 5px 0 0; */
    border-radius:5px;
    margin-top:10px;
    /* display:block; */
}

#imagePreview{
    display: flex; /* Enables flexbox */
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
    /* height: 100px; /* Or any desired height */
}

#imagePreview span {
    display: inline-flex; /* Allows the span to behave like a flex container */
    justify-content: center; /* Centers content horizontally inside the span */
    align-items: center; /* Centers content vertically inside the span */
}

.generate-button{
    display:none;
}

/* @keyframes gradient-cycle {
    0%, 100% {
      background: linear-gradient(to right, blue, yellow);
    }
    50% {
      background: linear-gradient(to right, yellow, blue);
    }
  }
  
  .button-animate {
    animation: gradient-cycle 5s ease infinite;
  } */

  .generated-image{
    max-height: 50vh;
    width: auto;
    max-width: 100%;
    display:block;
    margin-left: auto;
    margin-right: auto; /* Center the image if it's smaller than its container */
  }

  .result-buttons{
    text-align:center;
    margin:10px;
  }


  /* recording */
  #audioPlayback {
    margin-top: 10px;
    margin:auto;
}
button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

/* end recording */


.input-selection-button {
    /* display: inline-block; */
    padding: 10px 20px;
    /* background-color: #007bff; */
    color: white;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height:100px;
    width:100px;
    margin-left:20px;
    margin-right:20px;
  }
  